---
# https://artifacthub.io/packages/helm/cetic/adminer
# https://github.com/cetic/helm-adminer/tree/0.1.6

service:
  type: ClusterIP

ingress:
  enabled: true
  hosts:
    - "{{ kubeapp_network.adminer.fqdn }}"
  path: "/"
