---
# https://artifacthub.io/packages/helm/adwerx/awx
# https://github.com/AdWerx/charts/tree/awx-v2.3.1/awx

secret_key: awxsecret
default_admin_user: "{{ kubeapp_admin.awx.name }}"
default_admin_password: "{{ kubeapp_admin.awx.passwd }}"

ingress:
  enabled: true
  defaultBackend: true
  hosts:
    - host: "{{ kubeapp_network.awx.fqdn }}"
      paths: ["/"]

memcached:
  enabled: true
  replicaCount: 1
  pdbMinAvailable: 0

rabbitmq:
  enabled: true
  rabbitmq:
    username: admin
    password: amqpassword

postgresql:
  enabled: true
  postgresqlUsername: awx
  postgresqlPassword: pgpassword
  postgresqlDatabase: awx
  metrics:
    enabled: false
