---
# https://artifacthub.io/packages/helm/k8s-dashboard/kubernetes-dashboard
# https://github.com/kubernetes/dashboard/tree/v2.2.0/aio/deploy/helm-chart/kubernetes-dashboard

ingress:
  enabled: true
  hosts:
    - "{{ kubeapp_network.dashboard.fqdn }}"
rbac:
  clusterReadOnlyRole: false
serviceAccount:
  create: true
  name: admin-user
