---
# https://artifacthub.io/packages/helm/ingress-nginx/ingress-nginx/
# https://github.com/kubernetes/ingress-nginx/tree/helm-chart-3.23.0/charts/ingress-nginx

controller:

  service:
    enabled: true

    ## List of IP addresses at which the controller services are available
    ## Ref: https://kubernetes.io/docs/user-guide/services/#external-ips
    ##
    externalIPs: {{ kubeapp_network.ingress.external_ips }}

    type: NodePort
    nodePorts:
      http: {{ kubeapp_network.ingress.nodeport_http }}
      https: {{ kubeapp_network.ingress.nodeport_https }}

  admissionWebhooks:
    enabled: false

  metrics:
    port: 10254
    # if this port is changed, change healthz-port: in extraArgs: accordingly
    enabled: false
