---
# https://artifacthub.io/packages/helm/jenkinsci/jenkins
# https://github.com/jenkinsci/helm-charts/tree/jenkins-3.1.9/charts/jenkins

# For FQDN resolving of the controller service. Change this value to match your existing configuration.
# ref: https://github.com/kubernetes/dns/blob/master/docs/specification.md
clusterZone: "{{ kube_network.fqdn }}"
controller:
  disableRememberMe: false  # The default configuration uses this secret to configure an admin user
  numExecutors: 0

  # If you don't need that user or use a different security realm then you can disable it
  adminSecret: true

  # When enabling LDAP or another non-Jenkins identity source, the built-in admin account will no longer exist.
  # If you disable the non-Jenkins identity store and instead use the Jenkins internal one,
  # you should revert controller.adminUser to your preferred admin user:
  adminUser: "{{ kubeapp_admin.jenkins.name }}"
  adminPassword: "{{ kubeapp_admin.jenkins.passwd }}"
  # Environment variables that get added to the init container (useful for e.g. http_proxy)
  # initContainerEnv:
  #   - name: http_proxy
  #     value: "http://192.168.64.1:3128"
  # containerEnv:
  #   - name: http_proxy
  #     value: "http://192.168.64.1:3128"
  jenkinsUrl: "{{ '{}://{}:{}'.format(
    kubeapp_network['jenkins'].schm,
    kubeapp_network['jenkins'].fqdn,
    kubeapp_network['jenkins'].port)
  }}"
  # If you set this prefix and use ingress controller then you might want to set the ingress path below
  # jenkinsUriPrefix: "/jenkins"

  # List of plugins to install in addition to those listed in controller.installPlugins
  additionalPlugins: []

  # Enable to initialize the Jenkins controller only once on initial installation.
  # Without this, whenever the controller gets restarted (Evicted, etc.) it will fetch plugin updates which has the potential to cause breakage.
  # Note that for this to work, `persistence.enabled` needs to be set to `true`
  initializeOnce: true

  # Add StatefulSet annotations
  statefulSetAnnotations: {}

  ingress:
    enabled: true
    # Override for the default paths that map requests to the backend
    paths: []
    # For Kubernetes v1.14+, use 'networking.k8s.io/v1beta1'
    # For Kubernetes v1.19+, use 'networking.k8s.io/v1'
    apiVersion: "extensions/v1beta1"
    labels: {}
    annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
    # Set this path to jenkinsUriPrefix above or use annotations to rewrite path
    # path: "/jenkins"
    # configures the hostname e.g. jenkins.example.com
    hostName: "{{ kubeapp_network.jenkins.fqdn }}"
    tls:
    # - secretName: jenkins.cluster.local
    #   hosts:
    #     - jenkins.cluster.local

  # Expose Prometheus metrics
  prometheus:
    # If enabled, add the prometheus plugin to the list of plugins to install
    # https://plugins.jenkins.io/prometheus
    enabled: false
