---
# https://artifacthub.io/packages/helm/bitnami/keycloak
# https://github.com/bitnami/charts/tree/master/bitnami/keycloak
# version: "2.1.2"

auth:
  ## Create administrator user on boot.
  ##
  createAdminUser: true
  ## Keycloak administrator user and password
  ##
  adminUser: "{{ kubeapp_admin.keycloak.name }}"
  adminPassword: "{{ kubeapp_admin.keycloak.passwd }}"

## Ingress configuration
##
ingress:
  ## Set to true to enable ingress record generation
  ##
  enabled: true

  ## Set this to true in order to add the corresponding annotations for cert-manager
  ##
  certManager: false

  ## When the ingress is enabled, a host pointing to this will be created
  ##
  hostname: "{{ kubeapp_network.keycloak.fqdn }}"

service:
  type: ClusterIP
