---
# https://artifacthub.io/packages/helm/sonatype/nexus-repository-manager
# https://github.com/sonatype/helm3-charts/tree/nexus-repository-manager-29.1.0/charts/nexus-repository-manager

nexus:
  env:
    - name: NEXUS_SECURITY_RANDOMPASSWORD
      value: "false"

ingress:
  enabled: true
  annotations: {kubernetes.io/ingress.class: nginx}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  hostPath: /
  hostRepo: "{{ kubeapp_network.nexus.fqdn }}"
  tls: []
    # - secretName: nexus-local-tls
    #   hosts:
    #     - nexus.local
    #     - nexus-docker.local
    #     - nexus-docker-hosted.local

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  storageSize: 8Gi

