---
# https://hub.kubeapp.com/charts/portainer/portainer
# https://github.com/portainer/k8s/tree/portainer-1.0.10/charts/portainer

service:
  # Set the httpNodePort and edgeNodePort only if the type is NodePort
  # For Ingress, set the type to be ClusterIP and set ingress.enabled to true
  # For Cloud Providers, set the type to be LoadBalancer
  type: ClusterIP

ingress:
  enabled: true
  annotations: {}
  hosts:
    - host: "{{ kubeapp_network.portainer.fqdn }}"
      paths:
        - path: "/"
  tls: []

persistence:
  size: "10Gi"
  annotations: {}
  storageClass:
